<section class="text-block">
	<h2>Project Summary</h2>
	<div class="about">
		<div>
			<h3>About Freeman Capital</h3>
			<p class="text-block" >
				Freeman Capital was founded with the mission to create generational wealth within underserved communities, especially among people of color, and ultimately closing the wealth gap. 
				It does this by providing highly customized financial advisory services to individuals who may have historically had less access to personalized insights and counsel. Leveraging technology to improve access to excellent financial advice and insight, Freeman Capital forges a consistent relationship with their clients to help them meet their financial goals.
			</p>
		</div>
		<div class="about--img">
			<img src="{{ "/img/freeman-dashboard.png" | prepend: base_url }}" alt="dashboard">
		</div>
	</div>
</section>

<section class="text-block text-block--fc text-block--small">
	<h2>The Challenge</h2>
	<p class="text-block--centered">
		When Freeman Capital’s CEO Calvin Williams, Jr., approached Acklen Avenue through a referral, the company needed to build a unified digital solution that supported the thriving existing business. 
	</p>
</section>
<section class="challenge challenge--fc">
	<div class="challenge__card-container">
		<div class="challenge__card-container__card challenge--fc">
				<img class="iconHurdl" src="{{ "/img/iconFC-input.svg" | prepend: base_url }}" alt="input">
				<p>Services were administered using highly manual processes on the backend, lacking automation and limiting the company’s capacity to scale and serve a large volume of clients.</p>
		</div>
		<div class="challenge__card-container__card challenge--fc">
				<img class="iconHurdl" src="{{ "/img/iconFC-access.svg" | prepend: base_url }}" alt="access">
				<p>Clients had to access each of a set of third-party tools separately, limiting the visibility of the complete financial picture and creating a clunky user experience.</p>
		</div>
		<div class="challenge__card-container__card challenge--fc">
				<img class="iconHurdl" src="{{ "/img/iconFC-third-party.svg" | prepend: base_url }}" alt="third party">
				<p>Finally and crucially, sending clients to various third parties also missed an opportunity to build a more comprehensive relationship with them and serve them as a “one-stop shop”. </p>
		</div>
	</div>
</section>

<section class="text-block text-block--fc">
	<h2>The Relationship</h2>
	<p class="text-block" >
		Very early on, we earned the trust of the Freeman Capital team through a culture of transparency and consistent delivery. We were able to collaborate as one team, demonstrating commitment to their success as if it were our own. 
		As we worked to pursue their goals, our team consistently thought on our feet, pivoting quickly to keep momentum while staying focused on value delivery. Soon the Freeman team was able to trust us with decisions in areas like architecture and design that they never thought they would feel comfortable sharing!
	</p>
</section>
<section class="relationship">
	<div class="relationship__card-container">
		<div class="relationship__card-container__card">
				<img class="iconFC" src="{{ "/img/iconFC-quote.svg" | prepend: base_url }}" alt="quote">
				<p class="quote">It encouraged us all that the team sought answers. Each person was motivated to deliver their best for us, and showed real leadership in their area of responsibility.</p>
				<p class="signed"><i>From Freeman Capital’s team</i></p>
		</div>
		<div class="relationship__card-container__card-grey">
				<img class="iconFC" src="{{ "/img/iconFC-talk.svg" | prepend: base_url }}" alt="access">
				<p class="info">By owning that relationship, they also own the data which both enables better insights on behalf of their clients and enriches their own valuation.</p>
				<br>
				<p class="info">Freeman knew that a capital raise was in their near-term future, and a working solution to these challenges would be important to support their valuation. </p>
		</div>
	</div>
</section>

<section class="approach text-block">
		<h2>The Approach</h2>
		<p class="text-block--two-columns text-block--fc">Ten weeks into the 14-week engagement, a working Minimum Viable Product was complete, with the last few weeks spent on ‘nice to haves’. The interface we delivered together allows Freeman clients to see a full suite of financial metrics in one view without having to navigate to 
			external sites, giving the holistic understanding of financial health which Freeman Capital strives to provide. Freeman Capital clients could accomplish all their tasks within the Freeman ‘ecosystem’ without diluting the experience. </p>
		<div>
			<img src="{{ "/" | prepend: base_url }}img/freeman-admin-portal.png" alt="admin portal">
		</div>
	</div>
</section>

<section class="theEvolution">
	<h2>The Evolution</h2>
	<p class="text-block text-block--fc-evolution">By fully owning the relationship with their clients, Freeman also accesses control of data sets which enable better insights on behalf of their clients as well as enriching their own valuation.
		<br>
		<br>
		We knew we were successful together because we had a working product that met the requirements and delights its users. Freeman now has a fully unified and branded customer experience which they are currently using both to serve a growing client base and to secure investment capital.</p>
	<div class="img-showcase">
		<img src="{{ "/" | prepend: base_url }}img/freeman-dashboard-sync.png" alt="admin portal">
	</div>
</section>

<section class="theFuture theFuture--tafs">
	<div class="theFuture__box">
		<h2>The Future</h2>
		<p>We are proud to continue to work with Freeman Capital through HeroUnit, our staff augmentation offering, providing maintenance and new feature development as they expand their product lines.</p>
		<a class="hvr-icon-forward" target="_blank" href="https://freemancapital.co/">www.freemancapital.co</a>
	</div>
</section>

<section id="testimonialSingle">
	<div class="testimonial__contain">
			<img class="rouded-img" src="{{ "/img/calvin-wjr.jpg" | prepend: base_url }}">
			<h3>Calvin Williams Jr.</h3>
			<h4 class="testimonial-founder">CEO, Freeman Capital</h4>
			<span class="quotesign">&#8220;</span>
			<p><em>I was extremely skeptical of hiring a 3rd party development firm. However, the Acklen team put my concerns to rest by providing early and often information. I grew from a place of little trust, to high trust and high bandwidth conversations. I am very happy and proud of what we have built and are building together.</em></p>

	</div>
</section>

{% include callToAction.html %}
