<section id="ourwork">

    <!-- Healthcare Bluebook -->
    <div class="casestudy">
        <div class="casestudy__content--layout-A flex-50">
            <a class="casestudy__content--layout-A__clientsite" target="_blank" href="www.healthcarebluebook.com/">Healthcare Bluebook</a>
            <a href="{{ " /our-work/hcbb.html " | prepend: base_url }}">
                <h2>Find low-cost, high-quality care</h2>
            </a>
            <p><i>Become a smarter healthcare shopper, while decreasing costs and improving healthcare outcomes.</i></p>
            <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                    /our-work/hcbb.html " | prepend: base_url }}">Learn More</a>
            </p>
        </div>
        <div class="casestudy__photo--layout-A casestudy__photo--layout-A--hcbb-bg flex-50">
            <a href="{{ " /our-work/hcbb.html " | prepend: base_url }}">
                <img class="casestudy__photo--layout-A--freeman" src="/img/hcbb-screen-phone.png" alt="">
            </a>
        </div>
    </div>

    <!-- Expediter -->
<div class="casestudy">
    <div class="casestudy__content--layout-A flex-50">
        <a class="casestudy__content--layout-A__clientsite" target="_blank" href="https://essuccessintrucking.com/">Expediter Services</a>
        <a href="{{ " /our-work/expediter.html " | prepend: base_url }}">
            <h2>A nationwide discount program</h2>
        </a>
        <p><i>A mobile app built to reduce costs and drive profits to owner-operators and small fleet owners’ bottom line.</i>
        </p>
        <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                /our-work/expediter.html " | prepend: base_url }}">Learn More</a>
        </p>
    </div>
    <div class="casestudy__photo--layout-A casestudy__photo--layout-A--background-expediter flex-50">
        <a href="{{ " /our-work/expediter.html " | prepend: base_url }}">
            <img class="casestudy__photo--layout-A--tafs2" src="/img/phone-expediter2.png" alt="">
            <img class="casestudy__photo--layout-A--tafs1" src="/img/phone-expediter1.png" alt="">
        </a>
    </div>
</div>

    <!-- Minno -->
<div class="casestudy casestudy--background-minno">
    <div class="casestudy__content--layout-B flex-50">
        <a class="casestudy__content--layout-B__clieimgntsite" target="_blank"
            href="https://www.gominno.com/">gominno.com</a>
        <a href="{{ " /our-work/minno.html " | prepend: base_url }}">
            <h2>Shows Kids Love, Values Parents Trust</h2>
        </a>
        <p><i>Instantly stream or download thousands of hand-picked episodes that reflect your faith and values.</i></p>
        <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                /our-work/minno.html " | prepend: base_url }}">Learn More</a>
        </p>
    </div>

    <div class="casestudy__photo--layout-B flex-50">
        <a href="{{ " /our-work/minno.html " | prepend: base_url }}">
            <img class="casestudy__photo--layout-B--minno1" src="/img/phone-minno1.svg" alt="">
            <img class="casestudy__photo--layout-B--minno2" src="/img/ipad-minno1.svg" alt="">
        </a>
    </div>
</div>

    <!-- Freeman Capital -->
    <div class="casestudy">
        <div class="casestudy__content--layout-A flex-50">
            <a class="casestudy__content--layout-A__clientsite" target="_blank" href="https://www.freemancapital.co">Freeman
                Capital</a>
            <a href="{{ " /our-work/freeman-capital.html " | prepend: base_url }}">
                <h2>Full suite of financial metrics in one view</h2>
            </a>
            <p><i>A unified digital solution that supported the thriving existing business of the organization.</i></p>
            <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                    /our-work/freeman-capital.html " | prepend: base_url }}">Learn More</a>
            </p>
        </div>
        <div class="casestudy__photo--layout-A casestudy__photo--layout-A--freeman-bg flex-50">
            <a href="{{ " /our-work/freeman-capital.html " | prepend: base_url }}">
                <img class="casestudy__photo--layout-A--freeman" src="/img/freeman-dashboard.png" alt="">
            </a>
        </div>
    </div>

    <!-- Hurdle -->
    <div class="casestudy casestudy--background-one">
        <div class="casestudy__content--layout-B flex-50">
            <a class="casestudy__content--layout-B__clientsite" target="_blank"
                href="https://www.hurdl.com/">hurdl.com</a>
            <a href="{{ " /our-work/hurdl.html " | prepend: base_url }}">
                <h2>Connecting with fans is now more powerful than ever before</h2>
            </a>
            <p><i>IoT wearables that electrify audiences and connect entertainers to their most loyal fans.</i></p>
            <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                    /our-work/hurdl.html " | prepend: base_url }}">Learn More</a>
            </p>
        </div>

        <div class="casestudy__photo--layout-B flex-50">
            <a href="{{ " /our-work/hurdl.html " | prepend: base_url }}">
                <img class="casestudy__photo--layout-B--hurdl1" src="/img/raspberry_limeball.png" alt="">
                <img class="casestudy__photo--layout-B--hurdl2" src="/img/pixl.png" alt="">
            </a>
        </div>
    </div>

    <!-- TAFS -->
    <div class="casestudy">
        <div class="casestudy__content--layout-A flex-50">
            <a class="casestudy__content--layout-A__clientsite" target="_blank" href="https://www.tafs.com">tafs.com</a>
            <a href="{{ " /our-work/tafs.html " | prepend: base_url }}">
                <h2>The freight business. Streamlined.</h2>
            </a>
            <p><i>A mobile app that interfaced with clients and internal tools through a highly efficient workflow.</i>
            </p>
            <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                    /our-work/tafs.html " | prepend: base_url }}">Learn More</a>
            </p>
        </div>
        <div class="casestudy__photo--layout-A casestudy__photo--layout-A--background-one flex-50">
            <a href="{{ " /our-work/tafs.html " | prepend: base_url }}">
                <img class="casestudy__photo--layout-A--tafs2" src="/img/tafs-mockup-2.png" alt="">
                <img class="casestudy__photo--layout-A--tafs1" src="/img/tafs-mockup-1.png" alt="">
            </a>
        </div>
    </div>

    <!-- Drillnomics -->
    <div class="casestudy casestudy--background-two">
        <div class="casestudy__content--layout-B flex-50">
            <a class="casestudy__content--layout-B__clientsite" target="_blank"
                href="https://www.drillnomics.com/">drillnomics.com</a>
            <a href="{{ " /our-work/drillnomics.html " | prepend: base_url }}">
                <h2>Powerful, intuitive analytics for the oil and gas industry</h2>
            </a>
            <p><i>A simple, easy-to-use web application that allows users to determine the value of properties in
                    minutes &#8212 no advanced mathematics knowledge required.</i></p>
            <p><a class="btn hvr-ripple-out btn--apple" target="_blank" href="{{ "
                    /our-work/drillnomics.html " | prepend: base_url }}">Learn More</a>
            </p>
        </div>
        <div class="casestudy__photo--layout-B flex-50">
            <a href="{{ " /our-work/drillnomics.html " | prepend: base_url }}">
                <img class="casestudy__photo--layout-B--drillnomics" src="/img/drillnomic-laptop.png" alt="">
            </a>
        </div>
    </div>

</section>