---
layout: acklen-subfolder
title: Expediter Case Study  
description: "Expediter Case Study"
---
<header class="page-header page-header--expediter">
	{% include menu.html %}
	<h1>Expediter Services</h1>
	<h2>Memphis, Tennessee</h2>
</header>
<section class="text-block">
    <h2>Project Summary</h2>
    <h3><center>About Expediter Services</center></h3>
    <p class="text-block--centered">Expediter Services is not only an equipment and financial services provider to independent contractors, owner operators, and fleet owners, but also is a provider of safe, stable and profitable capacity to non-asset based motor carriers across the United States. Expediter Services approached Acklen Avenue to seek advice and help them bring their idea to life: a mobile application for end-users to easily access their discount program and perks.</p>
</section>
<section class="showcase">
    <img class="showcase__minno-kids" src="{{ "/img/phones-expediter.png" | prepend: base_url }}" alt="phones-expediter">
</section>
<section class="text-block">
    <h2>The Challenge</h2>
    <p class="text-block--two-columns">Expediter Services,  offers the ES Advantage Program, a nationwide discount program designed to reduce costs and drive profits for its partners. Users would be on the road, so a mobile application was critical to the adoption of the program. The team had previously hired a developer to help them develop the app, but the results were unsatisfactory and expectations were not met. They were being charged top dollar and couldn’t validate the work being done. When they saw the unfriendly and unattractive user interface that was developed, they knew they needed another solution Expediter Services, prides itself in never having to lay off anyone, so they didn’t want to hire internally for a limited duration project. Outsourcing was an excellent option for their needs. </p>
</section>
<section class="text-block">
    <h2>The Approach</h2>
    <p class="text-block--centered">The CIO of Expediter Services, Andrew Short, learned about us  through word of mouth. One conversation with us showed him that we would provide developers who would be involved in the process, who could think critically and improve on the idea, resulting in a better experience for his users. He liked that Acklen Avenue would bring professionalism and security to the table, and provide an environment where individual developers are supported by an ecosystem of experts.</p>
</section>
<section class="screens">
    <div class="screens--expediter">
        <div class="approach__card-container">
            <div class="approach__card-container__card-expediter">
                <img class="iconExpediter" src="{{ "/img/group-expediter.png" | prepend: base_url }}" alt="stopwatch">
                <p>Andrew didn’t require the robust structure of a complete Acklen Team, so he opted for a staff augmentation approach. Using Acklen Avenue vetted candidates, we created a custom solution consisting of a Senior React Developer, a project manager, and a UX/UI Designer, and they got to work quickly on the application</p>
            </div>
    </div>
    <section class="text-block">
        <h2>The Evolution</h2>
        <p class="text-block--centered">The developer created a mobile application with better usability and overall appeal. The app provides a dashboard with all the information necessary for its owner operators and fleet owners, including the users’ current balance, their last 30-days savings, their lifetime savings, and their recent transactions.</p>
        <p class="text-block--centered">With this application, users can choose their payment method, allowing them to add funds to their fuel card and pay at gas stations while receiving their discount.</p>
        <p class="text-block--centered">Expediter Services, was so pleased with the result that they came to us with a new idea: to build a web application for sales that will one day connect with their ES Advantage mobile app. We custom crafted a new team consisting of a senior engineer, QA, Design, DevOps and some project management.</p>
    </section>
</section>
<div class="showcase">
    <div class="screens--minno__image_pc">
        <img src="{{ "/img/two-phones-expediter.png" | prepend: base_url }}" alt="two-phones">
    </div>
</div>
<section class="text-block">
    <p class="text-block--centered">One of the challenges we faced was how to show users their available balance. In the beginning, Expediter Services, wanted a pop-up notification, but we provided a more practical solution advocated by them: a dashboard with all their information.</p>
    <p class="text-block--centered">They relied on API providers who used old technologies that did not apply to this mobile application. We overcame this challenge by creating a good strategy, analyzing deeply, and having an iterative process. </p>
</section>
<section class="tecnologiesUsed">
    <h2>Technologies Used</h2>
    <ul>
        <li>Node.js</li>
        <li>React Native</li>
        <li>AWS</li>
        <li>API</li>
        <li>Firebase</li>
    </ul>
</section>
<section class="text-block">
    <h2>The Results</h2>
    <p class="text-block--two-columns">We built a mobile application where end users have complete visibility into the ES Advantage Program. Expediter Services, expects 90% adoption among its users. The app is so successful thus far that the development team is translating the app into other languages.</p>
</section>
<section class="showcase ">
    <img class="showcase__minno--kids" src="{{ "/img/screens-expediter.png" | prepend: base_url }}" alt="screens-expediter">
</section>
<section class="theResults theResults--expediter">
    <div class="theResults__box-minno">
        <h2>The Future</h2>
            <span>We are thrilled to continue to provide Expediter Services. Through Acklen Avenue, our staff augmentation offering, providing maintenance and an in-house team helping them build a new project: the Expediter Map.</span>
    </div>
</section>
<section id="testimonialMinno">
    <div class="testimonialMinno__contain">
        <img class="rouded-img" src="{{ "/img/es-expediter.png" | prepend: base_url }}">
        <h3>Andrew Short</h3>
        <h4 class="testimonialMinno-founder">Chief Information Officer</h4>
        <span class="quotesignMinno">&#8220;</span>
        <p><em>"Many developers just do what you tell them to do. Whereas an Acklen Avenue developer is somebody who's fully involved in the process. They think critically and ask questions that lead to better outcomes, and that to me is the difference."</em></p>
    </div>
</section>
{% include callToAction.html %}
{% include ContactUs.html %}