---
layout: acklen-subfolder
title: Healthcare Bluebook 
description: "Healthcare Bluebook Case Study"
---
<header class="page-header page-header--hcbb">
	{% include menu.html %}
	<h1>Healthcare Bluebook</h1>
	<h2>Brentwood, Tennessee</h2>
</header>

<section class="text-block">
    <h2>Project Summary</h2>
    <h3><center>About Healthcare Bluebook</center></h3>
    <p class="text-block--two-columns">Healthcare Bluebook helps consumers navigate the healthcare system and find low-cost, high-quality care. Its goal is to protect consumers and companies nationwide from overpriced, low-quality healthcare. Combined with a proven engagement methodology, Healthcare Bluebook’s innovative suite of services empowers employees to become smarter healthcare shoppers, while decreasing costs and improving healthcare outcomes.</p>
</section>

<section class="showcase ">
    <img class="showcase__minno--logo" src="{{ "/img/hcbb-logo.png" | prepend: base_url }}" alt="minno-kids">
</section>

<section class="showcase ">
    <img class="showcase__minno-kids" src="{{ "/img/hcbb-man.png" | prepend: base_url }}" alt="minno-kids-ipad-pro">
</section>

<section class="text-block text-block">
    <h2>The Challenge</h2>
    <p class="text-block--centered">Partnered with IBM, Healthcare Bluebook was enlisted to develop a web application that would ensure they met upcoming compliance regulations. The timing of this engagement was critical because they had just 3 months to get from design to launch.</p>
    <p class="text-block--centered">Healthcare Bluebook had an internal team of developers, but capacity limitations led them to reach for outside help. The CIO, Erik Nicholson, had worked with outsourcing partners before, but a number of failed attempts and the impending deadline made it clear they needed a different kind of partner who would get it right the first time.</p>
</section>

<section class="relationship">
	<div class="relationship__card-container">
		<div class="relationship__card-container__card">
				<img class="iconFC" src="{{ "/img/user-icon.png" | prepend: base_url }}" alt="quote">
				<p class="quote">Erik was brought to Acklen Avenue through a referral. The Agile Teams model could provide him with a proven process he didn’t have to manage, and the team was already working together, so they could make progress very quickly.</p>
		</div>
		<div class="relationship__card-container__card">
				<img class="iconFC" src="{{ "/img/quotation-icon.png" | prepend: base_url }}" alt="access">
				<p class="info">“You had a bench and a baked-in process, so you knew how to work with each other. That is a huge advantage especially when you have to do something quickly.”</p>
				<p class="signed"><i>From HCBB’s team</i></p>
		</div>
	</div>
</section>

<section class="theEvolution">
    <div class="testimonial__contain">
        <section class="text-block">
            <h2>The Approach</h2>
            <p class="text-block--centered">Having a complete, pre-built team was essential for Healthcare Bluebook to meet its deadline. Acklen Avenue managed the engagement from start to finish: breaking down ideas into user stories, implementing an agile process to maximize value, and providing the technical expertise to deliver their next-generation product under budget and early.</p>
        <img class="showcase__minno--kids" src="{{ "/img/hcbb-screens.png" | prepend: base_url }}" alt="screens-hcbb">
        </section>
    </div>
</section>

<section class="text-block">
    <p class="text-block--two-columns">Members of the Acklen team assigned to this engagement had healthcare backgrounds, so they were able to understand Healthcare Bluebook’s business and provide valuable insight along the way. We delivered a web-enabled shopping tool that uses machine-readable file source data, allowing end-users (healthcare consumers) to browse and compare the prices with their insurance plan on different services from multiple hospitals.</p>
</section>

<section class="text-block">
    <h2>The Wrinkle</h2>
    <p class="text-block--centered">We were interfacing with both Healthcare Bluebook and IBM and there were many requirements happening in a short period of time. We successfully managed new changes and requirements by having a solid communication process and accomplishing tasks effectively.</p>
    <p class="text-block--centered">Another challenge for us was the pace and the timeline that Healthcare Bluebook had, because this engagement was tied to legislation there was a big pressure to go to market at a very particular time. We had to make solid decisions on the fly, drawing on our collective experience to deliver on time.</p>
</section>

<section class="tecnologiesUsed">
    <h2>Technologies Used</h2>
    <ul>
        <li>SQL Server</li>
        <li>Angular</li>
        <li>.Net</li>
    </ul>
</section>

<section class="theFuture theFuture--tafs">
	<div class="theFuture__box">
		<h2>The Results</h2>
		<p>The web application delivery was successful, compliance was achieved, and both Healthcare Bluebook and IBM were able to meet their client needs. Healthcare Bluebook was satisfied with our <b>Agile Teams</b> and left an open door for working together on future engagements.</p>
</section>

<section id="testimonialSingle">
	<div class="testimonial__contain">
			<img class="rouded-img" src="{{ "/img/hcbb-erik.png" | prepend: base_url }}">
			<h3>Erik Nicholson</h3>
			<h4 class="testimonial-founder">CIO, Healthcare Bluebook</h4>
			<span class="quotesign">&#8220;</span>
			<p><em>Acklen Avenue has teams who know how to work with each other and it’s a huge advantage. It was always very clear where the engagement stood. I could go to the Trello board or I could Slack someone and they would always have an answer. Their  process makes it easy and they deliver on quality.</em></p>

	</div>
</section>
{% include callToAction.html %}
{% include ContactUs.html %}