---
layout: acklen-subfolder
title: Minno Case Study  
description: "Minno Case Study"
---
<header class="page-header page-header--minno">
	{% include menu.html %}
	<h1>MINNO KIDS</h1>
	<h2>Nashville, TN</h2>
</header>
<section class="text-block">
    <h2>Project Summary</h2>
    <p class="text-block--two-columns">Minno is the #1 Christian app for kids, an online subscription streaming service specializing in Christian programming for children and their parents. Minno’s trusted, Biblical content for kids includes thousands of episodes of shows, books, and expert advice to help parents navigate each stage of a child’s physical, emotional, and spiritual development.
    </p>
</section>
<section class="showcase ">
    <img class="showcase__minno--logo" src="{{ "/img/minno-kids.svg" | prepend: base_url }}" alt="minno-kids">
</section>
<section class="showcase ">
    <img class="showcase__minno-kids" src="{{ "/img/ipad-pro-minno-MU.svg" | prepend: base_url }}" alt="minno-kids-ipad-pro">
</section>

<section class="text-block text-block--small">
    <h2>The Challenge</h2>
    <p class="text-block--centered">In 2020, Minno was having its best year ever, but they had to scale up: </p>
</section>
<div class="approach__card-container">
	<div class="approach__card-container__card-minno">
		<img class="iconHurdl" src="{{ "/img/stopwatch-icon.svg" | prepend: base_url }}" alt="stopwatch">
		<p>Triple-digit growth meant that the time had come to pay down the tech debt they had taken on to get to this stage and build for the future.</p>
	</div>
	<div class="approach__card-container__card-minno">
		<img class="iconHurdl" src="{{ "/img/architecture-icon.svg" | prepend: base_url }}" alt="architecture">
		<p> Existing legacy architecture did not easily support the development of new features, and their vision was far too ambitious to continue to be constrained by it.</p>
	</div>
	<div class="approach__card-container__card-minno">
		<img class="iconHurdl" src="{{ "/img/back-end-icon.svg" | prepend: base_url }}" alt="back-end">
		<p>Bringing the back-end up to date was critical to the future success of the platform. </p>
	</div>
</div>
<section class="screens">
    <div class="screens--minno">
        <div class="screens--minno__image">
            <img src="{{ "/img/phone-minno-MU.svg" | prepend: base_url }}" alt="phone-minno">
        </div>
        <div class="screens--minno__caption">
            <p>They had worked with a development team in Eastern Europe, where 9 hours of time zone difference turned into 24-hour turnarounds. The relationship was inexpensive, but its transactional nature fell far short of the engaged, proactive partnership that CTO John Henderson envisioned. It was time to make a change if Minno was going to become the tech company they plan on being. </p>
        </div>
        <div class="screens--minno__image_pc">
        <img src="{{ "/img/laptop-minno-MU.svg" | prepend: base_url }}" alt="laptop-minno">
        </div>
        </div>
    </div>
</section>
<section class="text-block">
    <h2>The Approach</h2>
    <p class="text-block--two-columns">In sharp contrast to a typical contractor relationship, Minno wanted the Acklen team to feel internal and to share in their vision. They sought a partner who would exceed the existing level of technical expertise, one who had the experience and maturity to internalize their company goals, collaborate to make the best possible  technology choices, and ultimately make the solution stronger. Very early on, the Minno team saw those characteristics in their new Acklen Avenue team, and knew that this partnership was what they had sought. Not only did their team bring sophisticated technical skills, but also during Discovery Week, true camaraderie was developed from the start. The personal connections and friendly rapport that took root that week created a foundation for healthy dialogues leading to better solutions.</p>
</section>
<section class="showcase ">
    <img class="showcase__minno--kids" src="{{ "/img/screens-minno.svg" | prepend: base_url }}" alt="screens-minno">
</section>
<section class="text-block">
    <h2>The Wrinkle</h2>
    <p class="text-block--one-columns">Before the engagement began, Minno was unsure how much use they would get out of the Acklen team designer & UX expert. Design had only ever been an internal function before, and it was hard to imagine an external firm adding any value to the closely-held user experience. However, within days, the Acklen team designer proved to be an infinitely valued part of the process, in the insight and ideas she was able to bring to their vision. Through collaboration with their internal team members, the small group quickly became greater than the sum of its parts, and continues to deliver innovative designs for the team to implement. </p>
</section>
<section class="theSolution--minno">
    <div class="theSolution--minno__box">
        <h2>The Solution</h2>
        <div class="theSolution--minno__box__item">
            <div class="flex-75">
                <p>The solutions Acklen Avenue has delivered offer a better customer experience, better architecture that allowed for continued feature development, and tremendous cost savings, allowing Minno to reduce their monthly infrastructure spend to a fraction of what it had been. Not only was it more affordable, but the modernized architecture was built to support the aggressive goals of the organization for the next 10+ years. </p>
            </div>
        </div>
    </div>
</section>
<section class="tecnologiesUsed">
    <h2>Technologies Used</h2>
    <ul>
        <li>TypeScript</li>
        <li>React Native</li>
        <li>React</li>
        <li>React Redux</li>
        <li>Sequelize (Database CRM)</li>
        <li>Postgres</li>
        <li>Node JS (Rest API)</li>
        <li>ElasticSearch</li>
        <li>Roku (BrightScript)</li>
        <li>Stripe</li>
        <li>Serverless (AWS Lambda)</li>
    </ul>
</section> 
<section class="theResults theResults--minno-blue">
    <div class="theResults__box-minno">
        <h2>The Future</h2>
            <span>A long list of new product offerings are on the horizon for Minno and Acklen Avenue has set the groundwork for new growth outside the paywall.</span>
    </div>
</section>
<section id="testimonialMinno">
    <div class="testimonialMinno__contain">
        <img class="rouded-img" src="{{ "/img/john-minno.svg" | prepend: base_url }}">
        <h3>John Henderson</h3>
        <h4 class="testimonialMinno-founder">CTO  Minno</h4>
        <span class="quotesignMinno">&#8220;</span>
        <p><em>“Our company is stronger because of Acklen Avenue’s partnership. Their excellence in development, design, and process has shored up our platform’s foundation, and powered our roadmap as we take on the aggressive product development goals we have. I strongly recommend them as a technically sophisticated partner who cares deeply about their clients’ success.”</em></p>

    </div>
</section>
{% include callToAction.html %}
{% include ContactUs.html %}