---
layout: acklen-subfolder
---

{% assign salaryRange = page.salaryRange | strip %} {% assign staffAugmentation
= page.staffAugmentation | strip %} {% assign description = page.description |
strip %} {% assign description = page.description | strip %}

<header class="page-header">
  {% include menu.html %}
  <h1>{{ page.title | replace: "| Acklen Avenue", "" }}</h1>
</header>
<div id="job-description">
  <section class="text-block">
    <div class="jobPost__description jobPost__description__opening">
      <div class="jobPost__description__column">
        <span>{{ page.location }}</span>
      </div>
      <div class="jobPost__description__column">
        <span>{{ page.time }}</span>
      </div>
      {% if salaryRange != '' %}
      <div class="jobPost__description__column">
        <span>{{salaryRange}}</span>
      </div>
      {% endif %}
      <div class="jobPost__description__column">
        <span>{{ staffAugmentation }}</span>
      </div>
    </div>
  </section>
  <section class="text-block">
    <h2>Overview</h2>
    <p class="text-block">
      Acklen Avenue is a trusted partner in outsourced development and staff
      augmentation.. We offer fully assembled agile teams at a weekly rate and
      can help you fill any skills gaps on your existing technology teams.. Our
      team of software engineers are passionate about clean code and simple user
      experiences. Acklen Avenue offers more than talent. We offer a mature
      product development process, staffed with experienced, full-time experts.
      We are People + Process + Partnership.
    </p>
  </section>
  {% if description != '' %}
  <section class="text-block">
    <h2>Description</h2>
    <p class="text-block">{{ description }}</p>
  </section>
  {% endif %} {% if page.responsibilities.size != 0 %}
  <section class="text-block">
    <h3>Responsibilities:</h3>
    <ul class="check">
      {% for responsibility in page.responsibilities %}
      <li>
        <span>{{ responsibility }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% if page.levelsOfMastery.size > 0 %}
  <section class="text-block">
    <h3>Levels Of Mastery:</h3>

    <ul class="check">
      {% for levelOfMaster in page.levelsOfMastery %}
      <li>
        <span>{{ levelOfMaster }}</span>
      </li>
      {% endfor %}
    </ul>
    <p>
      The attributes and skills listed above are things a {{page.title}} should
      possess at every level, but with increasing degrees of competency. These
      increasing degrees mirror the concept of Shu-Ha-Ri for mastering a skill
      (<a target="_blank" href="https://martinfowler.com/bliki/ShuHaRi.html"
        >https://martinfowler.com/bliki/ShuHaRi.html</a
      >).
    </p>
  </section>
  {% endif %} {% if page.skillsAndReqs.size > 0 %}
  <section class="text-block">
    <h3>Position Skills & Requirements:</h3>
    <ul class="check">
      {% for skillOrReq in page.skillsAndReqs %}
      <li>
        <span>{{ skillOrReq }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% if page.niceToHaves.size > 0 %}
  <section class="text-block">
    <h3>Nice To Haves:</h3>
    <ul class="check">
      {% for niceToHave in page.niceToHaves %}
      <li>
        <span>{{ niceToHave }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  <section class="text-block">
    <h3>Our Core Values:</h3>
    <ul class="check">
      <li>
        <span>Committed to Personal Growth</span>
      </li>
      <li>
        <span>Seek First to Understand</span>
      </li>
      <li>
        <span>Bring Out the Best in Others</span>
      </li>
      <li>
        <span>Solutions-Oriented</span>
      </li>
    </ul>
  </section>
  <section class="text-block">
    <h3>Location:</h3>
    <ul class="check">
      <li><span>{{ page.location }}</span></li>
    </ul>
  </section>
</div>
{% include callToAction__jobDescription.html %} {% include ContactUs.html %}
