---
layout: acklen-subfolder
---

{% assign salaryRange = page.salaryRange | strip %} {% assign staffAugmentation
= page.staffAugmentation | strip %} {% assign description = page.description |
strip %} {% assign overview = page.overview | strip %} {% assign description =
page.description | strip %}

<header class="page-header">
  {% include menu.html %}
  <h1>{{ page.title | replace: "| Acklen Avenue", "" }}</h1>
</header>
<div id="job-description">
  <section class="text-block">
    <div class="jobPost__description jobPost__description__opening">
      <div class="jobPost__description__column">
        <span>{{ page.location }}</span>
      </div>
      <div class="jobPost__description__column">
        <span>{{ page.time }}</span>
      </div>
      {% if salaryRange != '' %}
      <div class="jobPost__description__column">
        <span>{{salaryRange}}</span>
      </div>
      {% endif %}
      <div class="jobPost__description__column">
        <span>{{ staffAugmentation }}</span>
      </div>
    </div>
  </section>
  {% if overview != '' %}
  <section class="text-block">
    <h2>Overview</h2>
    <p class="text-block">{{ overview }}</p>
  </section>
  {% endif %} {% if description != '' %}
  <section class="text-block">
    <h2>Description</h2>
    <p class="text-block">{{ description }}</p>
  </section>
  {% endif %} {% if page.responsibilities.size != 0 %}
  <section class="text-block">
    <h3>Responsibilities:</h3>
    <ul class="check">
      {% for responsibility in page.responsibilities %}
      <li>
        <span>{{ responsibility }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% if page.levelsOfMastery.size > 0 %}
  <section class="text-block">
    <h3>Levels of mastery:</h3>

    <ul class="check">
      {% for levelOfMaster in page.levelsOfMastery %}
      <li>
        <span>{{ levelOfMaster }}</span>
      </li>
      {% endfor %}
    </ul>
    <p>
      The attributes and skills listed above are things a {{page.title}} should
      possess at every level, but with increasing degrees of competency. These
      increasing degrees mirror the concept of Shu-Ha-Ri for mastering a skill
      (<a target="_blank" href="https://martinfowler.com/bliki/ShuHaRi.html"
        >https://martinfowler.com/bliki/ShuHaRi.html</a
      >).
    </p>
  </section>
  {% endif %} {% if page.requirements.size > 0 %}
  <section class="text-block">
    <h3>Requirements:</h3>
    <ul class="check">
      {% for requirement in page.requirements %}
      <li>
        <span>{{ requirement }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% if page.skillsAndReqs.size > 0 %}
  <section class="text-block">
    <h3>Position Skills & Requirements:</h3>
    <ul class="check">
      {% for skillOrReq in page.skillsAndReqs %}
      <li>
        <span>{{ skillOrReq }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% if page.coreValues.size > 0 %}
  <section class="text-block">
    <h3>Core Values:</h3>
    <ul class="check">
      {% for coreValue in page.coreValues %}
      <li>
        <span>{{ coreValue }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  <section class="text-block">
    <h3>Location:</h3>
    <ul class="check">
      <li><span>{{ page.location }}</span></li>
    </ul>
  </section>
</div>
{% include callToAction__jobDescription.html %} {% include ContactUs.html %}
